#datos
{
	float:left;
	color: #D8D8D8;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	/*height:100px;*/
	width:280px;
	/*border: 1px solid grey;*/

}

#Tiempo
{
	float: right;
	color: #D8D8D8;
	font-size: 23px;
	font-weight: bold;
	font-family: Arial;
	/*height:100px;*/
	width:300px;
}

#cuerpo
{
	background-image:url(Images/Backgrounddiv.jpg);
	width:600px;/* 600 es el tamaño que tendra la división */
	height:560px;/* 560 es el tamaño que tendra la división de altura */
	margin:20px 20px;/*20px indica el espacio arriba i abajo que se va a dejar con relación a la pagina, el 20px es lo mismo pero aplicado a la izquierda y derecha*/
	padding:10px 10px;/*deja un espacio de 0 arriba ya abajo y pone uno de 40 pixeles a la izq y derecha*/
}

#Terminar_Juego
{
	float: center;
	color: #D8D8D8;
	font-size: 120px;
	font-weight: bold;
	font-family: Arial;
}
body
{	
	background-image:url(Images/Background.jpg);
}


